<html>
  <body>
    <router-outlet></router-outlet>
    <!--
    <h2 style="display:inline">Web Applications </h2> <h3 style="display:inline">by Miles Dougan </h3> <h4 style="display:inline"> &nbsp;(CSC436 James Riely)</h4>
    -->
    <h5>CSC436 - Web Applications, prof: James Riely</h5>
    <i>
    <!--<h5>prof: James Riely</h5>-->
    <h5>author: <a href="mailto:milesdavis16@gmail.com">Miles Dougan</a></h5>
    </i>

    <br>
    <h6 style="display:inline">Built with <a href="https://angular.io/" class="collection-item">Angular2. </a>
      <a href="https://cli.angular.io/" class="collection-item">Angular-cli </a> was used to scaffold the app.
    </h6>
    <br><br>

    <ul class="collection with-header">
      <li class="collection-header"><h4><i>CSS Framework</i></h4></li>
      <li class="collection-item"><a style="display: inline" href="http://materializecss.com" class="collection-item">Materialize (by Google).</a>In particular, NavBar, Forms, and Cards.</li>
    </ul>

    <ul class="collection with-header">
      <li class="collection-header"><h4><i>WeatherApp uses:</i></h4></li>
      <li class="collection-item"><a href="http://openweathermap.org/" class="collection-item">OpenWeatherMap</a></li>
      <li class="collection-item"><a href="https://www.npmjs.com/package/angular2-highcharts#installation" class="collection-item">HighCharts</a></li>
    </ul>

    <ul class="collection with-header">
      <li class="collection-header"><h4><i>TwitterApp uses:</i></h4></li>
      <li class="collection-item"><a href="http://expressjs.com/" class="collection-item">Node.js/Express server</a></li>
      <li class="collection-item"><a href="https://dev.twitter.com/oauth/application-only" class="collection-item">Twitter Application-only authentication</a></li>
      <li class="collection-item"><a href="https://dev.twitter.com/rest/public/search" class="collection-item">Twitter Search API (REST API)</a></li>
      <li class="collection-item"><a href="https://apps.twitter.com/" class="collection-item">Twitter Application Management</a></li>
      <li class="collection-item"><a href="https://www.npmjs.com/package/angular2-linky" class="collection-item">Angular2-linky</a></li>
    </ul>

  </body>
</html>

